################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/

/Desktop-Perpustakaan/Desktop-Perpustakaan/Desktop-Perpustakaan.csproj
/Desktop-Perpustakaan/Desktop-Perpustakaan.sln
